= form_tag messages_path, method: :post do
  .form-group
    = label_tag 'message[subject]', 'Subject'
    = text_field_tag 'message[subject]', nil, class: 'form-control', required: true

  .form-group
    = label_tag 'message[body]', 'Message'
    = text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true

    = hidden_field_tag "message[username]", params[:username]

  = submit_tag 'Send', class: 'btn btn-primary'
