= title "#{t 'home.index.meta_site_gnorimion_title'}"
= meta_tag :description, "#{t 'home.index.meta_site_gnorimion_description'}"

#bg
  .container-fluid
    .row.justify-content-center
      = link_to root_path do
        = image_tag 'kardies-logo-original.png', class: "logo m-4"
    .row.justify-content-center
      %h1.white-text= t 'home.index.meta_site_gnorimion_h1'
    .row.justify-content-center
      .col-xs-12.col-sm-8.col-md-4.p-4.m-4
        = link_to root_path, class: 'btn btn-primary btn-lg btn-block effect1' do
          = t 'home.index.continue_button'
