%h1 INBOX
- current_user.messages.each do |message|
  %ul
    %li= "Title: #{message.title}"
    %li= "Message: #{message.body}"
    %li= "Message from: #{message.sent_by}"
    = link_to "reply", new_user_message_path(message.posted_by)
