#show-email-preferences-form.dark-gray-text
  %h2.mb-4.pull-left= t '.email_notifications'
  = fa_icon "chevron-circle-down 2x", class: 'email-toggle-icon pull-right'
.clearfix
= form_for @email_preferences, html: { method: :put, id: "email-preferences-form" } do |f|
  %hr
  .form-check
    = f.check_box :likes, class: "form-check-input", id: "likesCheck"
    %label.form-check-label{for: "likesCheck"}= t '.likes_label'

  .form-check
    = f.check_box :messages, class: "form-check-input", id: "messagesCheck"
    %label.form-check-label{for: "messagesCheck"}= t '.messages_label'

  .form-check
    = f.check_box :news, class: "form-check-input", id: "newsCheck"
    %label.form-check-label{for: "newsCheck"}= t '.news_label'

  %hr
  = f.submit "#{t 'abouts.edit.save'}",
      class: "btn btn-primary btn-block",
      id: "email-preferences-submit"
