#show-email-preferences-form.dark-gray-text
  %h2.orange-text.mb-4.pull-left= t '.email_notifications'
  = fa_icon "chevron-circle-down 2x", class: 'email-toggle-icon pull-right'
.clearfix
= form_for @email_preferences, html: { method: :put, id: "email-preferences-form" } do |f|
  %hr
  .form-group
    %label.custom-control.custom-checkbox
      = f.check_box :likes, class: "custom-control-input"
      %span.custom-control-indicator
      %span.custom-control-description= t '.likes_label'

  .form-group
    %label.custom-control.custom-checkbox
      = f.check_box :messages, class: "custom-control-input"
      %span.custom-control-indicator
      %span.custom-control-description= t '.messages_label'

  .form-group
    %label.custom-control.custom-checkbox
      = f.check_box :news, class: "custom-control-input"
      %span.custom-control-indicator
      %span.custom-control-description= t '.news_label'

  = f.submit "#{t 'abouts.edit.save'}",
      class: "btn btn-primary btn-block",
      id: "email-preferences-submit"
