.small-12.columns
  %h2
    Edit #{resource_name.to_s.humanize} /
    = link_to 'About me', edit_about_path
    \/
    = link_to 'My Galleries', galleries_path
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

    = f.fields_for :user_detail do |d|
      %label.button{"for" => "picUpload"} Upload Profile Picture
      = d.file_field :profile_picture, as: :file, class: "show-for-sr", id: "picUpload"
      = d.select :state, GC.states, {selected: current_user.state}, {class: "state-selection"}
      = d.select :city,  GC.cities('att'), {selected: current_user.city}, {class: "city-selection-not-hidden"}
      = d.collection_radio_buttons :gender, [['male', 'Male'], ['female', 'Female']], :first, :last
      = d.select :age, options_for_select((16..99).step(1), current_user.age)

    = f.text_field :username
    = f.email_field :email

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    %i (leave blank if you don't want to change it)
    = f.password_field :password
    = f.password_field :password_confirmation

    %i (we need your current password to confirm your changes)
    = f.password_field :current_password


    = f.submit "Update", class: "button primary expanded"
  %h3 Cancel my account
  = button_to "Cancel my account", registration_path(resource_name),
                                   data: { confirm: "Προσοχή, ο λογαριασμός σας θα διαγραφεί ολοκληρωτικά" },
                                   method: :delete,
                                   class: 'button alert'
  = link_to "Back", :back
