.row
  .col-12
    %ol.breadcrumb
      %li.breadcrumb-item.active= t '.profile'
      %li.breadcrumb-item= link_to "#{t '.about_me'}", edit_about_path
      %li.breadcrumb-item= link_to "#{t '.galleries'}", galleries_path
      %li.breadcrumb-item= link_to "#{t 'email_preferences.edit.notifications'}", edit_email_preferences_path

    .col-lg-6.col-sm-12.bg-white.effect2.p-4
      %h2.orange-text= t '.my_profile'
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

        = f.fields_for :user_detail do |d|
          .form-group
            .previewProfilePic
              = image_tag current_user.profile_picture(:thumb), class: "img-thumbnail thumb-size form-control"
          .form-group
            = d.file_field :profile_picture, as: :file, class: "show-for-sr form-control-file", id: "picUpload", onchange: "previewProfilePic()"
            %small.form-text.text-muted= t '.ten_mb_limit'
            %p.error= show_errors(current_user.user_detail, :profile_picture)

          .row
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                = d.select :state, GC.states, {selected: current_user.state}, {class: "form-control form-control-lg state-selection", id: "lgState"}
                %p.error= show_errors(current_user.user_detail, :state)
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                = d.select :city, GC.cities(current_user.state), {selected: current_user.city}, {class: "city-selection form-control form-control-lg", id: "lgCity"}
                %p.error= show_errors(current_user.user_detail, :city)

          .row
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                = d.select :gender, [["#{t 'devise.registrations.edit.male'}", 'male'], ["#{t 'devise.registrations.edit.female'}", 'female'], ["#{t 'devise.registrations.edit.other'}", 'other']], {}, {class: "form-control form-control-lg", id: "lgGender"}
                %p.error= show_errors(current_user.user_detail, :gender)
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                = d.select :age, options_for_select((18..99).step(1), current_user.age), {}, {class: "form-control form-control-lg", id: "lgAge"}
                %p.error= show_errors(current_user.user_detail, :age)


        = f.input :username, label: "#{t '.username'}", error_html: { class: 'red-text' }
        = f.input :email, label: "#{t '.email'}", error_html: { class: 'red-text' }

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}


        %p
          %strong
            = link_to nil, class: "change-password-link" do
              = t '.change_password'
              = fa_icon "plus"
        #change-password.form-group.row
          .col-sm-6
            %label= t '.new_password'
            = f.password_field :password, class: "form-control"
          .col-sm-6
            %label= t '.new_password_confirmation'
            = f.password_field :password_confirmation, class: "form-control"
            %p.error= show_errors(current_user, :password_confirmation)

        = f.submit "#{t '.update'}", class: "btn btn-primary btn-block", id: "edit-submit"
      %hr
      = button_to "#{t '.cancel_account'}", registration_path(resource_name),
                                       data: { confirm: "Προσοχή, ο λογαριασμός σας θα διαγραφεί ολοκληρωτικά" },
                                       method: :delete,
                                       class: 'btn btn-outline-danger btn-sm'
