.medium-6.small-centered.columns
  %nav{ "aria-label" => "You are here:", "role" => "navigation" }
    %ul.breadcrumbs
      %li
        %span.show-for-sr Current:
        =t '.profile'
      %li= link_to "#{t '.about_me'}", edit_about_path
      %li= link_to "#{t '.galleries'}", galleries_path

  %h2.orange-text= t '.my_profile'
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

    = f.fields_for :user_detail do |d|
      .previewProfilePic
        = image_tag current_user.profile_picture(:thumb), class: "thumbnail thumb-size"
      %label.button{"for" => "picUpload"}=t '.change_prof_pic'
      = d.file_field :profile_picture, as: :file, class: "show-for-sr", id: "picUpload", onchange: "previewProfilePic()"
      %label= t '.state'
      = d.select :state, GC.states, {selected: current_user.state}, {class: "state-selection"}
      %label= t '.city'
      = d.select :city,  GC.cities(current_user.state), {selected: current_user.city}, {class: "city-selection-not-hidden"}
      .row
        .medium-7.columns
          %label= t '.gender'
          = d.collection_radio_buttons :gender, [['male', "#{t '.male'}"], ['female', "#{t '.female'}"], ['other', "#{t '.other'}"]], :first, :last
        .medium-5.columns
          %label= t '.age'
          = d.select :age, options_for_select((16..99).step(1), current_user.age)

    %label= t '.username'
    = f.text_field :username
    %label= t '.email'
    = f.email_field :email

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    %p
      %strong
        = link_to nil, class: "change-password-link" do
          = t '.change_password'
          = fa_icon "plus"
    .row.change-password
      .medium-6.columns
        %label= t '.new_password'
        = f.password_field :password
      .medium-6.columns
        %label= t '.new_password_confirmation'
        = f.password_field :password_confirmation

    %i.red-text= t '.update_profile'
    = f.password_field :current_password, placeholder: "#{t '.password'}"


    = f.submit "#{t '.update'}", class: "button primary expanded", id: "edit-submit"
  %hr
  %h3.orange-text= t '.cancel_account'
  = button_to "#{t '.cancel_account'}", registration_path(resource_name),
                                   data: { confirm: "Προσοχή, ο λογαριασμός σας θα διαγραφεί ολοκληρωτικά" },
                                   method: :delete,
                                   class: 'button alert'
  = link_to "#{t '.back'}", :back
