.col-12.bg-white.effect2
  .row.justify-content-center
    .col.bg-teal.effect2.p-4
      = render partial: 'my_profile'
  .row.justify-content-center
    .col.p-4
      = render partial: 'edit_form'
  %hr
  .row.justify-content-center
    .col.p-4
      = render partial: 'abouts/edit'
  %hr
  .row.justify-content-center
    .col.p-4
      = render partial: 'galleries/edit'
  %hr
  .row.justify-content-center
    .col.p-4
      = render partial: 'email_preferences/edit'
  %hr
  .row.justify-content-center
    .col.p-4
      = render partial: 'blocked_users/edit'
