.row.justify-content-center.mb-4
  .col-lg-9.col-sm-12.bg-lightblue.effect2.p-4
    = render partial: 'my_profile'

.row.justify-content-center.mb-4
  .col-lg-9.col-sm-12.bg-white.effect2.p-4
    = render partial: 'edit_form'

.row.justify-content-center.mb-4
  .col-lg-9.col-sm-12.bg-white.effect2.p-4
    = render partial: 'abouts/edit'

.row.justify-content-center.mb-4
  .col-lg-9.col-sm-12.bg-white.effect2.p-4
    = render partial: 'galleries/edit'

.row.justify-content-center.mb-4
  .col-lg-9.col-sm-12.bg-white.effect2.p-4
    = render partial: 'email_preferences/edit'

.row.justify-content-center.mb-4
  .col-lg-9.col-sm-12.bg-white.effect2.p-4
    = render partial: 'blocked_users/edit'
