= title "#{t 'home.index.meta_register_title'}"
= meta_tag :description, "#{t 'home.index.meta_register_description'}"

#bg
  .container-fluid
    .row.justify-content-center
      = link_to root_path, class: "mt-4" do
        = image_tag 'hearts_logo.png', class: "logo"
    .row.justify-content-center
      .col-xs-12.col-sm-8.col-md-6.col-md-offset-3.light-grey-bg.p-4.effect1.m-4
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: "form"}) do |f|
          %h1.text-center= t 'home.index.register_form'
          %hr.colorgraph
          = f.fields_for :user_detail do |d|
            .form-group
              = d.file_field :profile_picture,
                  as: :file,
                  id: "picUpload",
                  onchange: "previewProfilePic()"
              %p.error= show_errors(@user.user_detail, :profile_picture)
              .previewProfilePic

            .row
              .col-xs-12.col-sm-6.col-md-6
                .form-group
                  = d.select :state, GC.states, {}, {class: "form-control form-control-lg state-selection", id: "lgState"}
                  %p.error= show_errors(@user.user_detail, :state)
              .col-xs-12.col-sm-6.col-md-6
                .form-group
                  = d.select :city, GC.cities('ait'), {}, {class: "city-selection form-control form-control-lg", id: "lgCity"}
                  %p.error= show_errors(@user.user_detail, :city)

            .form-group
              = f.text_field :username,
                  class: "form-control form-control-lg",
                  "aria-describedby" => "emailHelp",
                  placeholder: "#{t 'devise.registrations.edit.username'}"
              %p.error= show_errors(@user, :username)

            .form-group
              = f.text_field :email,
                  class: "form-control form-control-lg",
                  placeholder: "#{t 'devise.registrations.edit.email'}"
              %p.error= show_errors(@user, :email)

            .row
              .col-xs-12.col-sm-6.col-md-6
                .form-group
                  = d.select :gender, [["#{t 'devise.registrations.edit.male'}", 'male'], ["#{t 'devise.registrations.edit.female'}", 'female'], ["#{t 'devise.registrations.edit.other'}", 'other']], {}, {class: "form-control form-control-lg", id: "lgGender"}
                  %p.error= show_errors(@user.user_detail, :gender)
              .col-xs-12.col-sm-6.col-md-6
                .form-group
                  = d.select :age, options_for_select((18..99).step(1), 30), {}, {class: "form-control form-control-lg", id: "lgAge"}
                  %p.error= show_errors(@user.user_detail, :age)

            .form-group
              = f.password_field :password,
                  autocomplete: "off",
                  class: "form-control form-control-lg",
                  placeholder: "#{t 'devise.registrations.edit.password'}"

            .form-group
              = f.password_field :password_confirmation,
                  autocomplete: "off",
                  class: "form-control form-control-lg",
                  placeholder: "#{t 'devise.registrations.edit.password_confirmation'}"
            %hr.colorgraph
            .row
              .col-xs-12.col-md-6
                .form-group
                  = f.submit "#{t 'home.index.register'}",
                      id: 'user-registration-submit',
                      class: "btn btn-success btn-lg btn-block"
              .col-xs-12.col-md-6
                .form-group
                  = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-block' do
                    = fa_icon 'facebook-official lg'
                    = t 'home.index.fb_sign_in'
