%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  = f.simple_fields_for :user_detail do |d|
    = d.input :profile_picture, as: :file, label: 'Profile Picture'
    = d.input :first_name
    = d.input :last_name
    = d.input :city
    = d.collection_radio_buttons :gender, [['male', 'Male'], ['female', 'Female']], :first, :last
    = d.input :age, as: :date, start_year: Date.today.year - 90,
                               end_year: Date.today.year - 12,
                               order: [:day, :month, :year]
  = f.input :username
  = f.input :email
  - if @minimum_password_length
    %em
      (#{@minimum_password_length} characters minimum)
  = f.input :password, autocomplete: "off"
  = f.input :password_confirmation, autocomplete: "off"
  = f.submit "Sign up", class: "btn btn-lg btn-primary"
= render "devise/shared/links"
