%li.list-group-item.clearfix
  .btn-group-vertical.pull-right
    - if conversation.is_trashed?(current_user)
      = link_to 'Restore', restore_conversation_path(conversation),
          class: 'btn btn-xs btn-info',
          method: :post
    - else
      = link_to 'Move to trash', conversation_path(conversation),
          class: 'btn btn-xs btn-danger', method: :delete,
          data: {confirm: 'Are you sure?'}

  = link_to conversation_path(conversation) do
    %p= render 'conversations/participants', conversation: conversation
  Message:
  = conversation.last_message.body
  %small
    (
    %span.text-muted>= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S")
    )
