- if conversation.participants.count > 1
  - participant = do_not_show_current_user(conversation)
  %tr
    %td
      = link_to conversation_path(conversation) do
        .pic-round-sm.lazy{ "data-src" => "#{participant.profile_picture}" }
    %td
      %strong.pt-2= participant.username.capitalize
      %p.small
        = conversation.created_at.to_formatted_s(:short)
        - if conversation.is_unread?(current_user)
          %span.badge.badge-pill.badge-success= t '.new_message'
    %td
      = link_to conversation_path(conversation),
          class: "btn btn-danger delete-convo",
          title: "#{t '.delete'}" do
        = fa_icon "trash"
