%tr
  %td= link_to "#{t '.view'}", conversation_path(conversation)
  %td
    - conversation.participants.each do |participant|
      = link_to user_path(participant) do
        = image_tag participant.profile_picture, class: "icon-size"
  %td= conversation.created_at.to_formatted_s(:short)

  %td
    .btn-group-vertical.pull-right
    - if conversation.is_trashed?(current_user)
      = link_to 'Restore', restore_conversation_path(conversation),
                           class: 'button secondary small',
                           method: :post

    - else
      = link_to conversation_path(conversation), method: :delete, data: {confirm: 'Are you sure?'} do
        = fa_icon "trash"
