- if conversation.participants.count > 1
  - participant = remove_current_user(conversation)
  %li.conversations{ 'data-conversation-id' => conversation.id }
    .d-flex
      .d-inline-block.align-self-center.m-1
        = link_to conversation_path(conversation), class: 'get-convo' do
          .pic-round-xs{ style: "background-image: url(#{participant.profile_picture})" }

      .d-inline-block.align-self-center.m-1
        = link_to conversation_path(conversation), class: 'get-convo align-self-center d-inline-block' do
          %strong= participant.username.capitalize.truncate(13)
        %p.small
          - if conversation.is_unread?(current_user)
            %span.badge.badge-pill.badge-success= t '.new_message'

      .d-inline-block.align-self-center.m-1.ml-auto
        = link_to conversation_path(conversation), class: "delete-convo btn btn-outline-light", 'data-conversation-id': conversation.id, title: "#{t '.delete'}" do
          = fa_icon "times"
