%ul.tabs{ "data-tabs" => "", "id" => "messages-tabs" }
  %li.tabs-title.is-active
    %a{ "href" => "#inbox", "aria-selected" => "true"}= t '.messages'
  %li.tabs-title
    %a{ "href" => "#trash" }= t '.trash'
.tabs-content{ "data-tabs-content" => "messages-tabs" }
  .tabs-panel.is-active{ "id" => "messages" }
    %table.messages
      %thead
        %strong= t '.inbox'
        %tr
          %th= t '.conversation'
          %th= t '.conversation_at'
          %th= t '.conversation_action'
      %tbody
        = render partial: 'conversations/conversation', collection: @conversations
  .tabs-panel{ "id" => "trash" }
    %table.messages.stack
      %thead
        %p
          %strong= t '.trash'
        %tr
          %th= t '.conversation'
          %th= t '.conversation_at'
          %th= t '.conversation_action'
      %tbody
        = link_to empty_trash_conversations_path, class: 'button alert', method: :delete, data: {confirm: "#{t '.empty_trash_confirm'}"} do
          = fa_icon 'trash-o'
          = t '.empty_trash'
        = render partial: 'conversations/conversation', collection: @conversations_trash
