.ui.effect3
  .col-lg-3.col-md-3.col-sm-12.left-menu
    %ul.list-group
      = render partial: 'conversation', collection: @conversations
    = paginate @conversations, window: 1
  .col-lg-9.col-md-9.col-sm-12.p-0
    .chat
      %ul#messages.messages
        - if @conversation
          - @conversation.receipts_for(current_user).each do |receipt|
            = render partial: 'conversations/message', locals: { receipt: receipt }
      .row.m-0
        .write-form
          = form_tag '', method: :post, id: 'conversation-form', class: 'form-inline' do
            .col-10
              = text_area_tag 'body', nil, cols: 3, class: 'form-control conversation-message',
                                                    placeholder: "#{t 'conversations.show.send_message_placeholder'}",
                                                    "data-behaviour" => "message_speaker"
            .col-2
              = button_tag class: "btn btn-primary", id: "send-message-button" do
                = fa_icon 'paper-plane 2x', class: "pull-left"
