.ui.effect3
  #left-menu
    %ul.list-group
      = render partial: 'conversation', collection: @conversations
  .toggle-left-menu.p-2
    = link_to '#', class: 'left-menu-toggle-icon' do
      = fa_icon 'bars'
  .chat
    %ul#messages.messages
      - if @conversation
        - @conversation.receipts_for(current_user).each do |receipt|
          = render partial: 'conversations/message', locals: { receipt: receipt }
    .row.m-0
      .write-form
        = form_tag '', method: :post, id: 'conversation-form', class: 'form-inline' do
          .col-lg-9.col-md-9.col-sm-12
            = text_area_tag 'body', nil, cols: 3, class: 'form-control conversation-message',
                                                  placeholder: "#{t 'conversations.show.send_message_placeholder'}",
                                                  "data-behaviour" => "message_speaker"
          .col-lg-2.col-md-2.col-sm-12.my-2
            = button_tag class: "btn btn-primary btn-sm btn-block", id: "send-message-button" do
              = fa_icon 'paper-plane 2x'
