%ul.tabs{ "data-tabs" => "", "id" => "messages-tabs" }
  %li.tabs-title.is-active
    %a{ "href" => "#inbox", "aria-selected" => "true"} Inbox
  %li.tabs-title
    %a{ "href" => "#sent" } Sent
  %li.tabs-title
    %a{ "href" => "#trash" } Trash
.tabs-content{ "data-tabs-content" => "messages-tabs" }
  .tabs-panel.is-active{ "id" => "inbox" }
    %table.messages
      %thead
        %tr
          %th Conversation
          %th Participants
          %th At
          %th Action
      %tbody
        = render partial: 'conversations/conversation', collection: @conversations_inbox
        .row
          = paginate @conversations_inbox
  .tabs-panel{ "id" => "sent" }
    %table.messages
      %thead
        %tr
          %th Conversation
          %th Participants
          %th At
          %th Action
      %tbody
        = render partial: 'conversations/conversation', collection: @conversations_sent
        .row
          = paginate @conversations_sent
  .tabs-panel{ "id" => "trash" }
    %table.messages
      %thead
        %tr
          %th Conversation
          %th Participants
          %th At
          %th Action
      %tbody
        %p= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'}
        = render partial: 'conversations/conversation', collection: @conversations_trash
