.col.mt-3
  .ui
    .left-menu
      = link_to "#{t 'abouts.edit.back'}", conversations_path, class: "btn btn-primary btn-sm btn-block"
    .chat
      .top{"id" => "conversation", "conversation-id" => "#{@hashed_conversation}"}
        .avatar
          .info
            - @conversation.participants.each do |participant|
              - unless participant == current_user
                = link_to user_path(participant) do
                  = image_tag participant.profile_picture(:thumb), class: "icon-size"
                %span.orange-text= participant.username
          %ul.messages{"id" => "messages"}
            - @conversation.receipts_for(current_user).each do |receipt|
              = render partial: 'conversations/message', locals: { receipt: receipt }
        .write-form
          = form_tag reply_conversation_path(@conversation), method: :post, id: 'conversation-form', class: 'form-inline' do
            .col-9
              = text_area_tag 'body', nil, cols: 3, class: 'form-control conversation-message',
                                                    placeholder: "#{t '.send_message_placeholder'}",
                                                    "data-behaviour" => "message_speaker"
            .col-3
              = button_tag class: "btn btn-primary", id: "send-message-button" do
                = fa_icon 'paper-plane 2x', class: "pull-left"
