.small-2.columns
  %p Chatting with
  = render 'conversations/participants', conversation: @conversation

.small-9.columns
  .panel.panel-default
    .panel-heading
      = @conversation.subject

    .media-object{"id" => "conversation", "conversation-id" => "#{@conversation.id}"}
      .media-object-section{"id" => "messages"}
        - @conversation.receipts_for(current_user).each do |receipt|
          = render partial: 'conversations/message', locals: { receipt: receipt }

  = form_tag reply_conversation_path(@conversation), method: :post, id: 'conversation-form' do
    = text_area_tag 'body', nil, cols: 3, class: 'form-control conversation-message', placeholder: 'Type something...', required: true, "data-behaviour" => "message_speaker"
    = submit_tag "Send Message", class: 'button success'
