.small-12.columns
  .ui
    .left-menu
      = link_to "#{t 'abouts.edit.back'}", :back, class: "button expanded primary"
    .chat
      .top{"id" => "conversation", "conversation-id" => "#{@hashed_conversation}"}
        .avatar
          .info
            - @conversation.participants.each do |participant|
              - unless participant == current_user
                = image_tag participant.profile_picture(:thumb), class: "icon-size"
                = participant.username
          %ul.messages{"id" => "messages"}
            - @conversation.receipts_for(current_user).each do |receipt|
              = render partial: 'conversations/message', locals: { receipt: receipt }
        .write-form
          = form_tag reply_conversation_path(@conversation), method: :post, id: 'conversation-form' do
            .input-group
              = text_area_tag 'body', nil, cols: 3, class: 'form-control conversation-message',
                                                    placeholder: "#{t '.send_message_placeholder'}",
                                                    "data-behaviour" => "message_speaker"
              .input-group-button
                = button_tag "#{t '.send_message'}", class: "button", id: "send-message-button"
