.col-sm-12.col-md-6.col-lg-6
  %h2.orange-text #{t '.my_hearts'} (#{@likes.size})
  %table.table
    %thead
      %tr
        %th= t 'users.search.age_from'
        %th= t 'users.search.username'
    %tbody
      - @likes.each do |user|
        - present user do |user_profile|
          %tr
            %td
              .icon-size= user_profile.profile_picture_link
            %td
              = user.username
