.col-lg-6.col-md-12.col-sm-12.bg-white.effect2.mt-3.p-4
  %h1.strong.orange-text
    = t '.my_hearts'
    - if @likes.count > 0
      %small.text-muted= "(#{@likes.count})"
  %hr
  .row
    - @likes.each do |user|
      = link_to user_path(user) do
        .profile-pic-round-sm.m-2{ style: "background-image: url(#{user.profile_picture})"}
