.card.effect1.my-4
  .card-img-top
    .float-left= user_presenter.online_status
    - if user.try(:profile_picture)
      = link_to user_path(user) do
        .card-bg{style: "display: block; background-image: url(#{user.profile_picture(:medium)})"}
  .card-block
    .card-title
      .row.mt-3
        .col-10
          %p.orange-text.text-left.pl-2
            %strong= user.username.capitalize
        .col-2.pl-1
          = user_presenter.gender_type
    .card-text.text-left.pl-2
      -if user.try(:age)
        = "#{user.age}  #{t '.age_text'}"

      -if user.try(:state) && user.try(:city)
        %p= user_presenter.display_city_info
    .card-footer
      %span.message= user_presenter.new_message
      %span.like= user_presenter.like_status
