.card.effect2.mx-4.mb-5
  .card-img-top
    - if user.try(:profile_picture)
      = link_to user_path(user) do
        .card-bg{style: "background-image:url(#{user.profile_picture(:medium)})"}
  .card-block
    = user_presenter.gender_type
    %h5.card-title
      - unless user == current_user
        %span.message= user_presenter.new_message
        %span.like= user_presenter.like_status
    .card-text
      - if user.try(:username)
        %h5
          %strong= user.username.capitalize
          = user_presenter.online_status

      -if user.try(:age)
        = "#{user.age}  #{t '.age_text'}"

      -if user.try(:state) && user.try(:city)
        %p= user_presenter.display_city_info
