.column
  .card.effect1
    = link_to user_path(user) do
      .card-top
        = user_presenter.online_status
        = image_tag user.profile_picture(:medium), lazy: true
    .card-divider
    .card-block
      = user_presenter.gender_type
      %h5.card-title
        - if user.try(:username) && user.try(:age)
          = user.username + " " + user.age
      .card-text
        -if user.try(:state) && user.try(:city)
          %p= GC.get_city_name(user.state, user.city) + " " + "(" + GC.get_state_name(user.state) + ")"
      - unless user == current_user
        %span.message= user_presenter.new_message
        %span.vertical-border
        %span.like= user_presenter.like_status
