.column
  .card.effect1
    = link_to user_path(user) do
      .card-top
        = user_presenter.online_status
        = image_tag user.profile_picture(:medium)
    .card-divider
    .card-block
      %h5.card-title= user.username + " " +  user.age
      %p.card-text= GC.get_city_name(user.state, user.city) + " " + "(" + GC.get_state_name(user.state) + ")"
      %span.message= user_presenter.new_message
      %span.vertical-border
      %span.like= user_presenter.like_status
