%h2.display-5= t '.galleries'
%hr
- if @user.gallery.blank? || @user.gallery.pictures.empty?
  .slick-images
    - 6.times do
      = holder_tag '300', "#{t '.empty'}", nil, {}, { bg: '#E8117F' }
- else
  .slick-images
    - @user.gallery.pictures.each do |pic|
      = link_to pic.picture.url, class: 'swipebox' do
        %img.img-thumbnail{ 'data-lazy' => "#{pic.picture.url}" }
