%h2.display-5= t '.galleries'
- if @user.galleries.blank?
  .slick-images
    %img{ src: "http://via.placeholder.com/250/E8117F/ffffff?text=No+Photos" }
    %img{ src: "http://via.placeholder.com/120/E8117F/ffffff?text=No+Photos" }
    %img{ src: "http://via.placeholder.com/100/E8117F/ffffff?text=No+Photos" }
    %img{ src: "http://via.placeholder.com/350/E8117F/ffffff?text=No+Photos" }
    %img{ src: "http://via.placeholder.com/500/E8117F/ffffff?text=No+Photos" }
    %img{ src: "http://via.placeholder.com/120/E8117F/ffffff?text=No+Photos" }
- else
- @user.galleries.each.with_index(1) do |gallery, index|
  %hr
  %h4= gallery.name.capitalize
  .row
    %li.list-unstyled.gallery
      - gallery.pictures.each do |pic|
        = link_to pic.picture.url, title: "Album-#{index}"  do
          = image_tag pic.picture.url
