%h3#search-collapse.text-center.p-2.orange-text
  = t ".search"
  = fa_icon 'search-plus', class: "search-icon"

%hr
= form_tag search_criteria_path, id: "search" do
  .form-group.row
    .form-group.col-md-6
      = select_tag :state, options_for_select(GC.states, @search.state),
                           include_blank: "#{t '.state'}",
                           class: 'state-selection form-control form-control-lg custom-select'
    .form-group.col-md-6
      = select_tag :gender, options_for_select(gender_types, @search.gender),
                            class: 'form-control form-control-lg custom-select',
                            include_blank: "#{t '.gender'}"

  .form-group.row
    .form-group.col-md-6
      #slider-range
      %label.small= "#{t '.age'} #{t '.age_from'}: "
      = number_field_tag :age_from,
          @search.age_from,
          class: 'form-control',
          id: "slider-limit-value-min"

      %label.small= "#{t '.age'} #{t '.age_to'}: "
      = number_field_tag :age_to,
          @search.age_to,
          class: 'form-control',
          id: "slider-limit-value-max"
    .form-group.col-md-6
      %p= t ".online_now"
      %label.switch
        -if @search.is_signed_in
          = check_box_tag :is_signed_in, @search.is_signed_in, true
        -else
          = check_box_tag :is_signed_in, 'true', false
        %span.slider.round
      %hr
      = submit_tag "#{t '.update'}", class: "btn btn-primary btn-block"
