.top-search.effect3
  %h3#search-collapse.text-center.p-2
    = t ".search"
    = fa_icon 'search-plus', class: "search-icon"

  = form_tag api_search_path, id: "search" do
    %hr
    .row
      .form-group.col-md-5
        .form-group

      .form-group.col-md-5
        .form-group
          #slider-range

        .row
          .form-group.col-6
            %label.small= "#{t '.age'} #{t '.age_from'}: "

          .form-group.col-6
            %label.small= "#{t '.age'} #{t '.age_to'}: "


      .form-group.col-md-2
        .form-group
          %p= t ".online_now"
          %label.switch
            %span.slider.round

    .row.justify-content-center
      .form-group.col-md-5
        = submit_tag "#{t '.search'}", class: "btn btn-outline-light btn-lg btn-block"
