.col.col-sm-12.col-md-12.col-lg-3.side-search
  %h4.text-center.orange-text= t ".search"
  = form_tag search_criteria_path, id: "search" do
    .form-group
      = select_tag :state, options_for_select(GC.states),
                           include_blank: "#{t '.state'}",
                           class: 'state-selection form-control form-control-lg'
    .form-group
      = select_tag :city, options_for_select(''),
                          class: 'city-selection form-control form-control-lg',
                          include_blank: " "
    .form-group
      = label_tag :gender, "#{t '.gender'}"
      = select_tag :gender, options_for_select([["#{t '.gender_man'}", "male"],
                                                ["#{t '.gender_woman'}", "female"],
                                                ["#{t '.gender_other'}", "other"]],
                                                @search.gender),
                            class: 'form-control form-control-lg',
                            include_blank: true
    %label= t '.age'
    .form-group
      %label= t '.age_from'
      = number_field_tag :age_from, @search.age_from, min: 16, max: 99, class: "form-control form-control-lg"
      %label= t '.age_to'
      = number_field_tag :age_to, @search.age_to, min: 16, max: 99, class: "form-control form-control-lg"

    .form-group
      %label.custom-control.custom-checkbox
        -if @search.is_signed_in
          = check_box_tag :is_signed_in, @search.is_signed_in, true, class: "custom-control-input"
        -else
          = check_box_tag :is_signed_in, 'true', false, class: "custom-control-input"
        %span.custom-control-indicator
        %span.custom-control-description= t ".online_now"

    .row
      = submit_tag "#{t '.update'}", class: "btn btn-primary btn-block"
