.small-12.medium-12.large-2.columns.side-search
  %h4 Aναζήτηση
  = form_tag users_path, method: :get, class: "form", id: "search" do
    .row
      = text_field_tag :username, nil, placeholder: 'Ψευδώνυμο'
    .row
      = submit_tag 'Search', class: "button success expanded hollow"

  %h4 Φίλτρα
  = form_tag users_path, method: :get, class: "form", id: "search" do
    .row
      = select_tag :state, options_for_select(GC.states),
                           include_blank: "Νομός",
                           class: 'state-selection'
    .row
      = select_tag :city, options_for_select(GC.cities('att')),
                          class: 'city-selection',
                          include_blank: 'Πόλη'
    .row
      %p Online Now
      .switch
        = check_box_tag :is_signed_in, 'true', false, class: 'switch-input'
        %label.switch-paddle{"for" => "is_signed_in"}
          %span.show-for-sr Online Now
          %span.switch-active{"aria-hidden" => "true", "value" => "true"} Yes
          %span.switch-inactive{"aria-hidden" => "true", "value" => "false"} No
    .row
      = submit_tag 'Update', class: "button primary small expanded hollow"
