.small-12.medium-4.large-2.columns.side-search
  %h5.text-center= t ".search"
  = form_tag users_path, method: :get, class: "form", id: "search" do
    .row
      = text_field_tag :username, nil, placeholder: "#{t '.username'}"
    .row
      = submit_tag "#{t '.search'}", class: "button success expanded"
  %hr
  .filters
    %h5.text-center= t ".filters"
    = form_tag users_path, method: :get, class: "form", id: "search" do
      .row
        = select_tag :state, options_for_select(GC.states),
                             include_blank: "#{t '.state'}",
                             class: 'state-selection'
      .row
        = select_tag :city, options_for_select(''),
                            class: 'city-selection',
                            include_blank: " "
      .row
        = label_tag :gender, "#{t '.gender'}"
        = select_tag :gender, options_for_select([["#{t '.gender_man'}", "male"],
                                                  ["#{t '.gender_woman'}", "female"],
                                                  ["#{t '.gender_other'}", "other"]])
      .row
        %p= t '.age'
        .slider{ "data-slider" => "", "data-initial-start" => "20", "data-initial-end" => "50", "data-end" => "99", "data-start" => "16" }
          %span.slider-handle{ "data-slider-handle" => "", "role" => "slider", "tabindex" => "1", "aria-controls" => "age_from" }
          %span.slider-fill{ "data-slider-fill" => "" }
          %span.slider-handle{ "data-slider-handle" => "", "role" => "slider", "tabindex" => "1", "aria-controls" => "age_to"}
        .small-6.columns
          %label{ "for" => "amount_from" }= t '.age_from'
          = number_field_tag :age_from
        .small-6.columns
          %label{ "for" => "amount_to" }= t '.age_to'
          = number_field_tag :age_to

      .row
        = label_tag t ".online_now"
        .switch
          = check_box_tag :is_signed_in, 'true', false, class: 'switch-input'
          %label.switch-paddle{"for" => "is_signed_in"}
            %span.show-for-sr Online Now
            %span.switch-active{"aria-hidden" => "true", "value" => "true"}= t '.online_yes'
            %span.switch-inactive{"aria-hidden" => "true", "value" => "false"}= t '.online_no'

      .row
        = submit_tag "#{t '.update'}", class: "button primary small expanded hollow"
