%h1 All users
- @users.each do |user|
  %ul
  %li= "#{user.first_name} #{user.last_name} "
  %p future places to visit
  - user.future_places.each do |place|
    %ul
    ="#{place.country} / #{place.city} on: #{place.visit_date}"
