.row
  .col
    .top-search.effect2
      = render partial: 'search'
.row.justify-content-center
  .card-deck.justify-content-center
    - if ! @filtered_users.map {|f| f}.blank?
      - @filtered_users.each do |user|
        - present user do |user_presenter|
          = render partial: 'card',
              locals: {user: user, user_presenter: user_presenter}
    - else
      %h4= t '.no_results'

.row.justify-content-center
  = paginate @users, window: 1

= render partial: 'messages/message_modal'
