- present @user do |user_presenter|
  #message-modal
  .row
    .col-sm-12.col-md-12.col-lg-4.bg-white.m-2.p-2.effect2.text-center
      = render partial: 'profile_pic_panel',
          locals: { user_presenter: user_presenter }

    .col
      %h4= t '.youtube'
      %p.mb-0= user_presenter.youtube_url

  .row
    .col.bg-white.m-2.effect2.p-4
      %h1.display-5.orange-text= t '.about'
      %h4= t '.job'
      %blockquote.blockquote
        %p.mb-0= user_presenter.about_info('job')
      %h4= t '.hobby'
      %blockquote.blockquote
        %p.mb-0= user_presenter.about_info('hobby')
      %h4= t '.relationship_status'
      %blockquote.blockquote
        %p.mb-0= user_presenter.about_info('relationship_status')
      %h4= t '.looking_for'
      %blockquote.blockquote
        %p.mb-0= user_presenter.about_info('looking_for')
      %h4= t '.about_me'
      %blockquote.blockquote
        %p.mb-0= user_presenter.about_info('description')

      %h1.display-5.orange-text= t '.galleries'
      - if @user.galleries.empty? || @user.galleries.nil?
        = image_tag 'no_uploaded.png', class: "img-thumbnail"
      .polaroid-images
        - @user.galleries.each.with_index(1) do |gallery, index|
          %hr
          %h4= gallery.name.capitalize
          .row
            %li.list-unstyled.gallery
              - gallery.pictures.each do |pic|
                = link_to pic.picture.url, title: "Album-#{index}"  do
                  = image_tag pic.picture.url
