- present @user do |user_presenter|
  #message-modal
  .large-3.medium-3.small-12.columns
    .text-center
      .gallery
        = link_to @user.profile_picture(:original) do
          = image_tag @user.profile_picture(:medium), class: "thumbnail"
    %h3.text-center
      = @user.username
    - if current_user == @user
      = link_to edit_user_registration_path, class: "button tiny expanded" do
        = fa_icon 'gears'
        = t '.edit_profile'
    - unless @user == current_user
      %ul.menu.expanded
        %li= user_presenter.new_message
        %li.pull-right.red-text= user_presenter.like_status
      %hr
      = link_to "#{t 'users.index.report'}", report_path(@user), class: "button alert hollow expanded tiny"

    %ul.menu.vertical
      %li
        %span.orange-text= t 'users.index.area'
        = GC.get_city_name(@user.state, @user.city) + " " + '(' + GC.get_state_name(@user.state) + ')'
      %li
        %span.orange-text= t 'users.search.age'
        = @user.age
      %li
        %span.orange-text= t 'users.search.gender'
        = user_presenter.gender_type

  .large-9.medium-9.small-12.columns
    %h2.orange-text= t '.galleries'
    %ul.accordion{ "data-accordion" => "", "role" => "tablist" }
      - if @user.galleries.empty? || @user.galleries.nil?
        %h4.subheader= t '.no_albums'
      - @user.galleries.each.with_index do |gallery, index|
        %li.accordion-item
          %a{ "href" => "#panel#{index}d", "role" => "tab", "class" => "accordion-title", "id" => "panel#{index}d-heading", "aria-controls" => "panel#{index}d" }
            = fa_icon 'image'
            = gallery.name
          .accordion-content{ "role" => "tabpanel", "data-tab-content" => "", "aria-labelledby" => "panel#{index}d-heading", "id" => "panel#{index}d" }
            .gallery
              - gallery.pictures.each do |pic|
                = link_to pic.picture.url do
                  = image_tag pic.picture.url, class: "icon-size"

    .small-12
      %h2.orange-text= t '.about'
      %h4= t '.job'
      = user_presenter.about_info('job')
      %hr
      %h4= t '.hobby'
      = user_presenter.about_info('hobby')
      %hr
      %h4= t '.relationship_status'
      = user_presenter.about_info('relationship_status')
      %hr
      %h4= t '.looking_for'
      = user_presenter.about_info('looking_for')
      %hr
      %h4= t '.about_me'
      = user_presenter.about_info('description')
