- present @user do |user_presenter|
  .col-md-8
    %h1
      = @user.full_name
    = image_tag @user.profile_picture(:medium), class: "img-rounded"
    %p= user_presenter.new_message

    %ul
      %li Lives in: #{@user.city}
      %li Age: #{@user.age}
