.center-page
  .small-12.columns.text-center
    = image_tag 'hearts_2.png'
    %h3.custom_header= t '.kardies-text'
  .row
    .small-12.small-centered.columns
      %a.button.primary.expanded{ "data-toggle" => "signin_modal" }= t '.login'
      %p.text-center.white-text= t ".first_timer"
      %a.button.alert.expanded{ "data-toggle" => "signup_modal" }= t '.register_button'

= render 'devise/sessions/signin_modal'
= render 'devise/sessions/signup_modal'
