.col
  .col.text-center
    = image_tag 'hearts_2.png', class: "img-fluid"
    %h3.custom_header= t '.kardies-text'

  .col-sm-12.col-md-6.col-lg-3.mx-auto
    = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-block' do
      = fa_icon 'facebook-official lg'
      = t 'home.index.fb_sign_in'

  .col-sm-12.col-md-6.col-lg-3.mx-auto
    %p.text-center.white-text= t "home.index.or"

  .col-sm-12.col-md-6.col-lg-3.mx-auto
    = simple_form_for(@user, url: session_path(@user)) do |f|
      = f.input :email, input_html: { autofocus: true, placeholder: "Email" }, label: false
      = f.input :password, input_html: { autocomplete: "off", placeholder: "#{t 'devise.registrations.edit.password'}" }, label: false
      = f.submit "#{t "home.index.login"}", class: "btn-success btn-sm btn-block"
      %p.white.text-center= link_to "#{t '.forgot_password'}", new_user_password_url

  .col-sm-12.col-md-6.col-lg-3.mx-auto.mt-3
    %button.btn-sm.btn-primary{"data-toggle" => "modal", "data-target" => "#registrationModal"}
      = t '.register_button'

= render 'devise/sessions/signup_modal'
