.center-page
  .small-12.columns.text-center
    = image_tag 'hearts_2.png'
    %h3.custom_header= t '.kardies-text'

  .small-12.medium-6.large-6.columns.small-centered.marg-bottom
    = link_to user_facebook_omniauth_authorize_path, class: 'button primary expanded' do
      = fa_icon 'facebook-official lg'
      = t 'home.index.fb_sign_in'

  .small-12.medium-6.large-6.columns.small-centered
    %p.text-center.white-text= t "home.index.or"

  .small-12.medium-6.large-6.columns.small-centered
    = form_for(@user, url: session_path(@user), html: {"data-parsley-validate" => ""}) do |f|
      = f.email_field :email, autofocus: true, placeholder: "Email", "data-parsley-trigger" => "change"
      = f.password_field :password, autocomplete: "off", placeholder: "#{t 'devise.registrations.edit.password'}"
      = f.button class: "button alert expanded" do
        = fa_icon 'sign-in'
        = t "home.index.login"
    %a.white-text{ "data-toggle" => "signup_modal" }= t '.register_button'

= render 'devise/sessions/signup_modal'
