%header
  .float-right.m-4
    = link_to user_session_path, class: "btn btn-orange" do
      = t 'home.index.login'
  .header-content
    .header-content-inner
      = link_to root_path do
        = image_tag 'hearts_logo.png', class: "logo"
      %h1.white-text{ id: "homeHeading" }= t '.kardies-text'
      %hr.custom
      %p= t '.kardies-subtext'

      .col-sm-12.col-md-6.col-lg-4.mx-auto
        = link_to new_user_registration_path, class: "btn btn-orange btn-lg btn-block" do
          = t 'home.index.register'

%section.bg-orange{ id: "about" }
  .container
    .row
      .col-lg-8.mx-auto.text-center
        %h2.section-heading= t '.kardies-bottom'
        %hr.light
        %p.home-p.text-faded= t '.kardies-subbottom'
