.center-page
  .small-12.columns.text-center
    = image_tag 'hearts_2.png'
    %h3.custom_header= t '.kardies-text'

  .small-12.columns.text-center
    = link_to user_facebook_omniauth_authorize_path, class: 'action-button shadow animate blue expanded' do
      = fa_icon 'facebook-official lg'
      = t 'home.index.fb_sign_in'
