%p= image_tag current_user.profile_picture.url(:thumb)
%h1 Hello #{current_user.first_name}
%h2 Welcome to travel hub

= link_to "travel details", places_path

= render "places/form"
= render "users/show"
