.medium-6.medium-centered.columns.whitesmoke-bg
  %h3.orange-text= t '.contact'
  = form_for @contact, method: :post do |f|
    = f.label :name, "#{t '.name'}"
    = f.text_field :name, class: 'form-control', placeholder: "#{t '.name_placeholder'}"
    %p.error= show_errors(@contact, :name)

    = f.label :email, "#{t '.email'}"
    = f.email_field :email, class: 'form-control', placeholder: "#{t '.email_placeholder'}"
    %p.error= show_errors(@contact, :email)
    = f.label :subject, "#{t 'messages.new.subject'}"
    = f.text_field :subject, class: 'form-control', placeholder: "#{t 'messages.new.subject'}"
    %p.error= show_errors(@contact, :subject)

    = f.label :description, "#{t 'messages.new.message'}"
    = f.text_area :description, class: 'form-control', placeholder: "#{t 'messages.new.message_placeholder'}"
    %p.error= show_errors(@contact, :description)

    = f.submit "#{t 'messages.new.send'}", class: 'button success expanded'
    = link_to "#{t 'abouts.edit.back'}", :back, class: 'button primary small'
