= title "#{t '.meta_contact_title'}"
= meta_tag :description, "#{t '.meta_contact_description'}"

#bg
  .container-fluid
    .row.justify-content-center
      = link_to root_path, class: "mt-4" do
        = image_tag 'hearts_logo.png', class: "logo"
    .row.justify-content-center
      .col.mx-auto.text-center.mt-2
        %h1= t '.contact_header'
        %hr.custom
        %p= t '.contact_description'

    .row.justify-content-center
      .col-lg-6.col-sm-12.mx-auto.whitesmoke-bg.effect2.my-5
        %h3.orange-text= t '.contact'
        = simple_form_for @contact, method: :post do |f|
          = f.input :name, class: 'form-control', placeholder: "#{t '.name_placeholder'}", label: "#{t '.name'}"
          = f.input :email, class: 'form-control', placeholder: "#{t '.email_placeholder'}", label: "#{t '.email'}"
          = f.input :subject, class: 'form-control', placeholder: "#{t 'messages.new.subject'}", label: "#{t 'messages.new.subject'}"
          = f.input :description, class: 'form-control', placeholder: "#{t 'messages.new.message_placeholder'}", label: "#{t 'messages.new.message'}"

          = f.submit "#{t 'messages.new.send'}", class: 'btn btn-primary btn-block btn-sm'
          = link_to "#{t 'abouts.edit.back'}", :back
