= title "#{t '.meta_contact_title'}"
= meta_tag :description, "#{t '.meta_contact_description'}"

#bg
  .container-fluid
    .row.justify-content-center
      = link_to root_path, class: "mt-4" do
        = image_tag 'kardies-logo-original.png', class: "logo"
    .row.justify-content-center
      .col.mx-auto.text-center.mt-2
        %h1= t '.contact_header'
        %hr.custom
        %p= t '.contact_description'

    .row.justify-content-center
      .col-lg-5.col-sm-12.mx-auto.whitesmoke-bg.effect2.my-5.p-4
        %h3.orange-text= t '.contact'
        = form_for @contact, method: :post do |f|
          .form-group
            = f.text_field :name, class: 'form-control', placeholder: "#{t '.name_placeholder'}"
            %p.error= show_errors(@contact, :name)
          .form-group
            = f.email_field :email, class: 'form-control', placeholder: "#{t '.email_placeholder'}"
          .form-group
            = f.text_field :subject, class: 'form-control', placeholder: "#{t 'messages.new.subject'}"
          .form-group
            = f.text_area :description, class: 'form-control', placeholder: "#{t 'messages.new.message_placeholder'}"

          = f.submit "#{t 'messages.new.send'}", class: 'btn btn-primary btn-block btn-sm'
          = link_to "#{t 'abouts.edit.back'}", :back
