.container-fluid
  .col.mx-auto.text-center.mt-2
    %h1= t '.contact_header'
    %hr.custom
    %p= t '.contact_description'

  .col-lg-6.col-sm-12.mx-auto.whitesmoke-bg.effect2.my-5
    %h3.orange-text= t '.contact'
    = simple_form_for @contact, method: :post do |f|
      = f.input :name, class: 'form-control', placeholder: "#{t '.name_placeholder'}", label: "#{t '.name'}"
      = f.input :email, class: 'form-control', placeholder: "#{t '.email_placeholder'}", label: "#{t '.email'}"
      = f.input :subject, class: 'form-control', placeholder: "#{t 'messages.new.subject'}", label: "#{t 'messages.new.subject'}"
      = f.input :description, class: 'form-control', placeholder: "#{t 'messages.new.message_placeholder'}", label: "#{t 'messages.new.message'}"

      = f.submit "#{t 'messages.new.send'}", class: 'btn btn-primary btn-block btn-sm'
      = link_to "#{t 'abouts.edit.back'}", :back
