#signin_modal.reveal{ "data-reveal" => "", "data-close-on-click" => "true", "data-animation-in" => "fade-in", "data-animation-out" => "fade-out" }
  %h2.orange-text= t 'devise.sessions.new.login'
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .input-group
      %span.input-group-label= fa_icon 'at'
      = f.email_field :email, autofocus: true, placeholder: "Email", class: "input-group-field"
    .input-group
      %span.input-group-label= fa_icon 'lock'
      = f.password_field :password, autocomplete: "off", placeholder: "#{t 'devise.registrations.edit.password'}", class: "input-group-field"
    = f.button class: "button primary expanded" do
      = fa_icon 'sign-in'
      = t "devise.sessions.new.login"
    - if devise_mapping.rememberable?
      .row
        = f.check_box :remember_me
        = f.label :remember_me
  %button.close-button{ "data-close" => "", "aria-label" => "Close reveal", "type" => "button" }
    %span{ "aria-hidden" => "true" } &times;

  %p= render "devise/shared/links"
