#registrationModal.modal.fade{ tabindex: "-1", role: "dialog", "aria-labelledby" => "registrationModalLabel", "aria-hidden" => "true" }
  .col
    .modal-dialog{ role: "document" }
      .modal-content
        .modal-header
          %h3.modal-title.orange-text{ id: "registrationModalLabel"}= t 'home.index.register'
          %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "Close" }
            %span{ "aria-hidden" => "true" } &times;

        = form_for(@user, url: registration_path(@user), html: { class: "reg-form"}) do |f|


          %fieldset{ id: "first" }
            %p{ id: "form_errors" }

            .form-group
              %label= t 'devise.registrations.edit.email'
              = f.email_field :email, class: "text_field form-control"

            .form-group
              %label= t 'devise.registrations.edit.password'
              = f.password_field :password, autocomplete: "off", class: "password_field form-control"

            .form-group
              %label= t 'devise.registrations.edit.password_confirmation'
              = f.password_field :password_confirmation, autocomplete: "off", class: "password_confirmation_field form-control"

            %input.next_btn.next.btn.btn-primary{ name: "next", type: "button", value: "#{t 'home.index.next'}" }

            .separator
              %span
                = t "home.index.or"

            = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-block' do
              = fa_icon 'facebook-official lg'
              = t 'home.index.fb_sign_in'


          %fieldset
            = f.fields_for :user_detail do |d|
              .form-group
                .previewProfilePic
                %label.button{"for" => "picUpload"}= t 'devise.registrations.edit.upload_prof_pic'
                = d.file_field :profile_picture, as: :file, class: "show-for-sr form-file-control", id: "picUpload", onchange: "previewProfilePic()"

              .form-group
                %label= t 'devise.registrations.edit.state'
                = d.select :state, GC.states, {include_blank: true}, {class: "form-control state-selection text_field"}

              .form-group
                %label.city-selection-label= t 'devise.registrations.edit.city'
                = d.select :city, GC.cities('att'), {include_blank: "Πόλη"}, {class: "form-control city-selection text_field"}

              .form-group
                = d.collection_radio_buttons :gender, [['male', "#{t 'devise.registrations.edit.male'}"], ['female', "#{t 'devise.registrations.edit.female'}"], ['other', "#{t 'devise.registrations.edit.other'}"]], :first, :last, checked: ['male', "#{t 'devise.registrations.edit.male'}"]

              .form-group
                %label= t 'devise.registrations.edit.age'
                = d.select :age, options_for_select((18..99).step(1), 30)

            .form-group
              %label= t 'devise.registrations.edit.username'
              = f.text_field :username, placeholder: "#{t 'devise.registrations.edit.only_latin'}", class: "text_field form-control"

            %button.pre_btn.btn.btn-default.btn-sm.mb-2{ name: "previous", type: "button" }=t 'home.index.previous'

            = f.button class: "btn btn-primary btn-block submit_btn" do
              = fa_icon 'user-plus'
              = t 'home.index.register'
