#signup_modal.reveal{ "data-reveal" => "", "data-close-on-click" => "true", "data-animation-in" => "fade-in", "data-animation-out" => "fade-out" }
  .small-12.columns
    %h2.orange-text= t 'devise.sessions.new.register'
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      = f.fields_for :user_detail do |d|
        %label.button{"for" => "picUpload"}= t 'devise.registrations.edit.upload_prof_pic'
        = d.file_field :profile_picture, as: :file, class: "show-for-sr", id: "picUpload"

        %label= t 'devise.registrations.edit.state'
        = d.select :state, GC.states, {include_blank: true}, {class: "state-selection"}

        %label.city-selection-label= t 'devise.registrations.edit.city'
        = d.select :city, GC.cities('att'), {include_blank: "Πόλη"}, {class: "city-selection"}

        .row
          .medium-7.columns
            %legend= t 'devise.registrations.edit.gender'
            = d.collection_radio_buttons :gender, [['male', "#{t 'devise.registrations.edit.male'}"], ['female', "#{t 'devise.registrations.edit.female'}"], ['other', "#{t 'devise.registrations.edit.other'}"]], :first, :last, checked: ['male', "#{t 'devise.registrations.edit.male'}"]
          .medium-5.columns
            %label= t 'devise.registrations.edit.age'
            = d.select :age, options_for_select((18..99).step(1), 30)

      %label= t 'devise.registrations.edit.username'
      = f.text_field :username

      %label= t 'devise.registrations.edit.email'
      = f.email_field :email

      %label= t 'devise.registrations.edit.password'
      = f.password_field :password, autocomplete: "off"
      %p.help-text
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} #{t 'devise.registrations.edit.pass_validation'})

      %label= t 'devise.registrations.edit.password_confirmation'
      = f.password_field :password_confirmation, autocomplete: "off"

      = f.button class: "button primary expanded" do
        = fa_icon 'user-plus'
        = t 'devise.sessions.new.register'
  %button.close-button{ "data-close" => "", "aria-label" => "Close reveal", "type" => "button" }
    %span{ "aria-hidden" => "true" } &times;
