#bg
  .container-fluid
    .row.justify-content-center
      = link_to root_path, class: "mt-4" do
        = image_tag 'hearts_logo.png', class: "logo"
    .row.justify-content-center
      .col-xs-12.col-sm-8.col-md-4.light-grey-bg.p-4.effect1.m-4
        = form_for(@user, url: session_path(@user), html: {role: "form"}) do |f|
          %h2.text-center= t 'home.index.login'
          %hr.colorgraph
          .form-group
            = f.text_field :email,
                autofocus: true,
                class: "form-control form-control-lg",
                placeholder: "#{t 'devise.registrations.edit.email'}"

          .form-group
            = f.password_field :password,
                autocomplete: "off",
                class: "form-control form-control-lg",
                placeholder: "#{t 'devise.registrations.edit.password'}"

          %hr.colorgraph
          .form-group
            = f.submit "#{t 'home.index.login'}",
                class: "btn btn-success btn-lg btn-block"
            %p.home-p.text-center
              = link_to "#{t 'home.index.forgot_password'}", new_user_password_url
          .form-group
            = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-sm btn-block' do
              = fa_icon 'facebook-official lg'
              = t 'home.index.fb_sign_in'
