#show-abouts-form.dark-gray-text
  %h2.pull-left= t '.details'
  = fa_icon "chevron-circle-down 2x", class: 'abouts-toggle-icon pull-right'
.clearfix
= simple_form_for @about, url: about_url, html: { method: :put, id: "abouts-form" } do |f|
  %hr
  = f.input :job,
      label: "#{t 'users.details_panel.job'}",
      error_html: { class: 'red-text' }
  = f.input :hobby,
      label: "#{t 'users.details_panel.hobby'}",
      error_html: { class: 'red-text' }
  = f.input :relationship_status,
      label: "#{t 'users.details_panel.relationship_status'}",
      error_html: { class: 'red-text' }
  = f.input :looking_for,
      label: "#{t 'users.details_panel.looking_for'}",
      error_html: { class: 'red-text' }
  = f.input :description,
      label: "#{t 'users.details_panel.about_me'}",
      input_html: { rows: 10, onkeyup: "countChar()", id: 'abouts-description'},
      error_html: { class: 'red-text' }
  %strong.pull-right{ id: 'charNum' }

  = f.submit "#{t '.save'}",
      class: "btn btn-primary btn-block",
      id: "about-submit"
