.medium-6.small-centered.columns
  %nav{ "aria-label" => "You are here:", "role" => "navigation" }
    %ul.breadcrumbs
      %li= link_to "#{t '.profile'}", edit_user_registration_path
      %li
        %span.show-for-sr Current:
        =t '.about_me'
      %li= link_to "#{t '.galleries'}", galleries_path

  %h2.orange-text= t '.details'
  = form_for @about, url: about_path, html: { method: :put } do |f|

    %label= t 'users.show.job'
    = f.text_field :job, placeholder: "#{t '.job_placeholder'}"
    %label= t 'users.show.hobby'
    = f.text_field :hobby, placeholder: "#{t '.hobby_placeholder'}"
    %label= t 'users.show.relationship_status'
    = f.text_field :relationship_status, placeholder: "#{t '.relationship_status_placeholder'}"
    %label= t 'users.show.looking_for'
    = f.text_field :looking_for, placeholder: "#{t '.looking_for_placeholder'}"
    %label= t 'users.show.about_me'
    = f.text_area :description, placeholder: "#{t '.about_me_placeholder'}"

    = f.submit "#{t '.save'}", class: "button primary expanded"

  = link_to "#{t 'abouts.edit.back'}", :back
