.col
  %ol.breadcrumb
    %li.breadcrumb-item= link_to "#{t '.profile'}", edit_user_registration_path
    %li.breadcrumb-item.acive= t '.about_me'
    %li.breadcrumb-item= link_to "#{t '.galleries'}", galleries_path

  .col-lg-6.col-sm-12.bg-white.effect2
    %h2.orange-text= t '.details'
    = simple_form_for @about, url: about_path, html: { method: :put } do |f|
      = f.input :job, placeholder: "#{t '.job_placeholder'}", label: "#{t 'users.show.job'}", error_html: { class: 'red-text' }
      = f.input :hobby, placeholder: "#{t '.hobby_placeholder'}", label: "#{t 'users.show.hobby'}", error_html: { class: 'red-text' }
      = f.input :relationship_status, placeholder: "#{t '.relationship_status_placeholder'}", label: "#{t 'users.show.relationship_status'}", error_html: { class: 'red-text' }
      = f.input :looking_for, placeholder: "#{t '.looking_for_placeholder'}", label: "#{t 'users.show.looking_for'}", error_html: { class: 'red-text' }
      = f.input :description, placeholder: "#{t '.about_me_placeholder'}", label: "#{t 'users.show.about_me'}", error_html: { class: 'red-text' }

      .form-group
        %label.pull-left= t 'users.show.youtube'
        .help-tip
          %p= t 'users.show.youtube_instructions'
      .form-group.row
        .col-sm-6.col-form-label.orange-text https://youtube.com/watch?=
        .col-sm-6
          = f.text_field :youtube_url, placeholder: "#{t '.youtube_placeholder'}", class: 'form-control'

      - present @user do |user_presenter|
        %p= user_presenter.youtube_url

      = f.submit "#{t '.save'}", class: "btn btn-primary btn-block"

    = link_to "#{t 'abouts.edit.back'}", :back
