.form-group
  %li
    %h4.orange-text= q['question']
  .inputGroup
    = radio_button_tag "#{number}", "a"
    %label{ for: "#{number}_a" }
      .col-11
        = q['a']['answer']
  .inputGroup
    = radio_button_tag "#{number}", "b"
    %label{ for: "#{number}_b" }
      .col-11
        = q['b']['answer']
