%h1 INBOX
- if ! @messages.blank?
  - @messages.each do |message|
    %ul
      %li= "Title: #{message.title}"
      %li= "Message: #{message.body}"
      %li= "Message from: #{message.sender}"
      %li= link_to "reply", new_user_message_path(message.posted_by)
      %li
        = link_to "delete", user_messages_delete_received_path(current_user.id, message.id),
                            method: :delete,
                            data: {confirm: "This will permanenly delete it, are you sure?"}
- else
  %p No messages
