.container-fluid
  .col.bg-white.effect2.mt-3
    %h1 Blocked emails and domains list
    = form_tag admin_blocked_emails_path, class: "add-blocked-email" do
      = label_tag 'email'
      = text_field_tag :email

      = label_tag 'domain'
      = text_field_tag :domain

      = submit_tag 'Add', class: "btn btn-primary email-blocked-submit"
    %table.table
      %thead
        %tr
          %th Blocked email
          %th Blocked Domain
          %th Action
      %tbody
        - @blocked_emails.each do |blocked|
          %tr
            %td= blocked.email
            %td= blocked.domain
            %td
              = link_to admin_blocked_email_path(blocked.id),
                  class: "btn btn-danger remove-blocked-email" do
                = fa_icon "trash"
