#show-gallery-form.dark-gray-text
  %h2.orange-text.mb-4.pull-left= t '.gallery'
  = fa_icon "chevron-circle-down 2x", class: 'gallery-toggle-icon pull-right'
.clearfix
= form_tag gallery_path, method: :put, id: 'gallery-form' do |f|
  - unless current_user.gallery.blank?
    %table#galleries-table.table
      %tbody
        - current_user.gallery.pictures.each do |pic|
          %tr
            %td= image_tag pic.picture.url(:thumb), class: "pic-round-sm"
            %td
              = link_to destroy_picture_path(pic),
                  class: "btn btn-danger delete-picture",
                  title: "#{t '.delete'}" do
                = fa_icon "trash"
  %hr
  .form-group
    %label= t 'users.show.upload_pictures'
    = file_field_tag :picture,
        type: :file,
        class: "show-for-sr form-file-control",
        id: "gallery-fileupload"
  #gallery-progress
