.container
  .col.bg-white.effect2.mt-3
    %h1 All users - #{@user_count}
    %table.table
      %thead
        %tr
          %th{"width" => "150"} Profile Picture
          %th{"width" => "150"} Username
          %th{"width" => "150"} Email
          %th{"width" => "150"} Delete Account
          %th{"width" => "150"} Admin
      %tbody
        - @users.each do |user|
          %tr
            %td
              = link_to user_path(user) do
                = image_tag user.profile_picture, class: "icon-size"
            %td= user.username
            %td= user.email
            %td
              - if ! user.deleted_at?
                = link_to "Block Account", admin_destroy_path(user),
                                           data: { confirm: "Προσοχή, ο λογαριασμός Θα διαγραφεί" },
                                           method: :delete,
                                           class: 'btn btn-danger btn-sm'
              - else
                = link_to "Unblock Account", admin_unblock_path(user),
                                             method: :post,
                                             class: 'btn btn-primary btn-sm'
            %td
              - if user.admin?
                = link_to "Undo admin", admin_undo_admin_path(user),
                                        data: { confirm: "Προσοχή, ο λογαριασμός Θα διαγραφεί" },
                                        method: :post,
                                        class: 'btn btn-primary btn-sm'
              - else
                = link_to "Make admin", admin_create_admin_path(user),
                                        method: :post,
                                        class: 'btn btn-danger btn-sm'
    = paginate @users
