#reportModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "reportModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#reportModal.modal-title= t 'reports.show.report'
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        %p= t 'reports.show.description'
        = form_tag reports_path, method: :post do
          .form-group
            = text_field_tag "report[reason]", nil,
                class: 'form-control form-control-lg',
                required: true,
                placeholder: "#{t 'reports.show.reason'}"
          .form-group
            = text_area_tag 'report[description]', nil, cols: 5,
                class: 'form-control form-control-lg',
                required: true,
                placeholder: "#{t 'reports.show.details'}"

            = hidden_field_tag "report[username]"
            %hr
            = submit_tag "#{t 'reports.show.send_report'}", class: 'btn btn-outline-primary float-right'
