.medium-6.medium-centered.columns
  %h1.orange-text
    = t '.report'
    = params[:username]
  = form_for @report do |f|
    %label= t '.reason'
    = f.text_field :reason
    %label= t '.details'
    = f.text_area :description
    = f.hidden_field :username, value: params[:username]
    = f.submit "#{t '.send_report'}", class: "button alert expanded small"
