= simple_form_for @place, class: "form-horizontal" do |f|
  = f.input :country do
    = f.select :country, options_for_select(CS.get.map{ |u| [u.last, u.first] }),
                       {include_blank: true, prompt: "Select a country"}

  .hidden_states
    = f.input :state do
      = f.select :state, %w(s1), {include_blank: true, prompt: "Select a state"}

  .hidden_cities
    = f.input :city do
      = f.select :city, %w(c1), {include_blank: true, prompt: "Select a city"}

  = f.input :visit_date

  =f.submit "Save", class: "btn btn-primary"
