%footer
  .row
    .small-3.columns
      =link_to locale: "en" do
        = image_tag "uk_flag.png"
      = link_to locale: "gr" do
        = image_tag "greek_flag.png"
      = link_to "#{t 'contacts.index.contact'}", contacts_path
    .small-6.columns.text-center
      © 2016 #{t '.copyright'} Κardies.gr
    .small-3.columns.text-right
      = link_to "#{t '.terms'}", terms_path
