- if user_signed_in?
  .top-bar
    .row
      .top-bar-title
        %span{"data-responsive-toggle" => "responsive-menu", "data-hide-for" => "medium"}
          %button.menu-icon.dark{"type" => "button", "data-toggle" => ""}
        %strong= link_to 'Dougrou', root_path
      #responsive-menu
        .top-bar-left
          %ul.menu
            %li= link_to "#{t '.messages'}", conversations_path(box: :inbox)
            %li= link_to "#{t '.users'}", users_path
            %li= link_to "#{t '.likes'}", my_likes_user_path(current_user)
            - admins_only do
              %li= link_to "#{t '.admin_area'}", admin_application_index_path
        .top-bar-right
          .menu
            = link_to "#{t '.profile'}", edit_user_registration_path,
                                         class: "button edit-profile"
            = link_to "#{t '.sign_out'}", destroy_user_session_path,
                                  method: :delete,
                                  class: "button hollow alert"
