%nav.navbar.navbar-toggleable-md.fixed-top
  %button.navbar-toggler.navbar-toggler-right{ type: "button", "data-toggle" => "collapse", "data-target" => "#navbarNavDropdown", "aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation" }
    %span.reorder-icon= fa_icon "reorder 2x"
  .navbar-brand
    = link_to root_path do
      = image_tag 'hearts_only.png', class: 'icon-size'
      Kardies.gr
  #navbarNavDropdown.collapse.navbar-collapse
    - unless user_signed_in?
      %ul.navbar-nav.nav-justified.mr-auto
      %ul.navbar-nav
        %li.ml-2
          = link_to '/user/sign_up', class: "btn-sm btn-orange" do
            = t 'home.index.register_button'
