%aside.sidebar-left
  = link_to user_path(current_user) do
    .profile-pic-round-sm{ style: "background-image: url(#{current_user.profile_picture})"}
    %p.text-center.white-text= current_user.username.capitalize
  .sidebar-links
    = link_to users_path, class: "link-blue" do
      = fa_icon "users 2x"
      = t '.users'
    = link_to my_likes_path, class: "link-red" do
      = fa_icon "heart-o 2x"
      = t '.likes'
      - if current_user.vote_notifications.any?
        %span.badge.badge-pill.badge-info= current_user.vote_notifications.count
    = link_to conversations_path, class: "link-yellow" do
      = fa_icon "comments-o 2x"
      = t '.messages'
      - if current_user.conversation_notifications.any?
        %span.badge.badge-pill.badge-info= current_user.conversation_notifications.size
    = link_to edit_user_registration_path, class: "link-green" do
      = fa_icon "cogs 2x"
      = t '.profile'
    - if current_user.admin?
      = link_to admin_application_index_path do
        = fa_icon "key 2x"
        = t '.admin'
    = link_to destroy_user_session_path, method: :delete, class: "link-purple" do
      = fa_icon "power-off"
      = t '.sign_out'
