!!! 5
%html
  %head
    - I18n.available_locales.each do |locale|
      %link{rel: 'alternate', hreflang: locale, href: url_for(locale: locale, only_path: false)}
    = canonical_tag
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible", }
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{name: "description", content: "#{yield_meta_tag(:description)}"}
    %title
      - if content_for?(:title)
        = yield(:title) + ' | Kardies.gr'
      - else
        Γνωριμίες Ελλάδα | Kardies.gr

    = csrf_meta_tags

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body
    = show_flash_message

    - if user_signed_in?
      .container-fluid
        .row
          = render 'layouts/sidebar'
          %main.col-lg-10.offset-lg-2.col-sm-12.col-md-12.pt-3
            = yield
    - else
      = yield
      = render 'layouts/footer'
    .loading-modal
