!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible", }
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}

    %title
      Travelhub

    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true
    = javascript_include_tag 'application', "data-turbolinks-track" => true

  %body
    = flash_messages
    = render 'layouts/navbar'

    .container
      .row
        = yield
