!!! 5
%html
  %head
    - I18n.available_locales.each do |locale|
      %link{rel: 'alternate', hreflang: locale, href: url_for(locale: locale, only_path: false)}
    = canonical_tag
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible", }
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{name: "description", content: "#{yield_meta_tag(:description)}"}
    %title
      = if content_for?(:title) then yield(:title) + ' | ' end
      - if content_for?(:title)
        Kardies.gr
      - else
        Γνωριμίες Ελλάδα | Kardies.gr

    = csrf_meta_tags

    = stylesheet_link_tag 'application', "data-turbolinks-track" => "true"
    = javascript_include_tag 'application', "data-turbolinks-track" => "true"

  %body
    - unless flash.empty?
      - flash.each do |f|
        - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info')
        = javascript_tag do
          toastr["#{type}"]("#{f[1]}")

    - if user_signed_in?
      #wrap
        .container-fluid
          .row
            .col-lg-2.col-md-12.col-sm-12
              = render 'layouts/sidebar'
            .col-lg-10.col-md-12.col-sm-12
              #main-content
                = yield
    - else
      = yield

    = render 'layouts/footer'
    .loading-modal
