!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible", }
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{name: "description", content: "Γνωριμίες Ελλάδα, το νέο δωρεάν site γνωριμιών για όλη την Ελλάδα, Γίνε κι εσύ μέλος τώρα για να γνωρίσεις τον επόμενο έρωτά σου."}
    %title Νέες γνωριμίες Ελλάδα | Kardies.gr

    = csrf_meta_tags

    = stylesheet_link_tag 'application', "data-turbolinks-track" => "true"
    = javascript_include_tag 'application', "data-turbolinks-track" => "true"

  %body
    #wrap
      = render 'layouts/bg_image'
      = render 'layouts/navbar'
      = render 'layouts/flash_errors'

      .container-fluid
        .row
          = yield

    = render 'layouts/footer'
    .loading-modal
