!!! 5
%html
  %head
    - I18n.available_locales.each do |locale|
      %link{rel: 'alternate', hreflang: locale, href: url_for(locale: locale, only_path: false)}
    = canonical_tag
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible", }
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{name: "description", content: "Γνωριμίες Ελλάδα, το νέο δωρεάν site γνωριμιών για όλη την Ελλάδα, Γίνε κι εσύ μέλος σήμερα για να γνωρίσεις τον επόμενο έρωτά σου."}
    %title Νέες γνωριμίες Ελλάδα | Kardies.gr

    = csrf_meta_tags

    = stylesheet_link_tag 'application', "data-turbolinks-track" => "true"
    = javascript_include_tag 'application', "data-turbolinks-track" => "true"

  %body
    - unless flash.empty?
      - flash.each do |f|
        - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info')
        = javascript_tag do
          toastr["#{type}"]("#{f[1]}")

    - if user_signed_in?
      #wrap
        = render 'layouts/navbar'
        = yield
    - else
      = render 'layouts/navbar'
      = yield

    = render 'layouts/footer'
    - unless user_signed_in?
      = render 'devise/sessions/signup_modal'
    .loading-modal
