!!! 5
%html
  %head
    = favicon_link_tag 'favicon.png', type: 'img/png'
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible", }
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{name: "description", content: "#{yield_meta_tag(:description)}"}
    %title
      - if content_for?(:title)
        = yield(:title) + ' | Kardies.gr'
      - else
        Γνωριμίες Ελλάδα | Kardies.gr

    - if user_signed_in?
      = tag :meta, name: "current-user", data: {id: current_user.id}

    = csrf_meta_tags

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body
    = show_flash_message

    - if user_signed_in?
      = render 'layouts/navbar'
      .container{ 'data-username': current_user.username }
        = yield
    - else
      = yield
      = render 'layouts/footer'
    .loading-modal
